{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<h1 id="header">All Posts</h1>
<hr id="header_line">
<div id="compose-view">
    <form id="compose-post">
        <div class="mb-3">
            <textarea placeholder="What's happening?" id="text" class="form-control" type="text" rows="3"></textarea>
        </div>
        <button class="btn btn-success" type="submit">Post</button>
    </form>
</div>
<hr id="footer_line">
<div id="profile-view">
</div>
<div id="posts-view">
</div>
<div id="pag-view">
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-lg" id="pagination-list">           
        </ul>
    </nav>
</div>
{% endblock %}
